POSTGRES_HOST=postgres_primary
POSTGRES_DB=dms
POSTGRES_USER=admin@dgm
SCHEDULE=@daily
BACKUP_KEEP_DAYS=7
BACKUP_KEEP_WEEKS=4
BACKUP_KEEP_MONTHS=6
HEALTHCHECK_PORT=8082


POSTGRES_USER=admin@dgm
POSTGRES_DB=postgres
POSTGRES_PASSWORD=pg1Qwv&HBE+Ey+e?&~G!
POSTGRES_HOST_AUTH_METHOD='scram-sha-256\nhost replication all 0.0.0.0/0 md5'
POSTGRES_INITDB_ARGS='--auth-host=scram-sha-256'


PGUSER=replicator
PGPASSWORD=pg1Qwv&HBE+Ey+e?&~G!